<div class="row nested-fields">
  <div class='col-md-5'><%= f.input_field :key, class: 'form-control' %></div>
  <div class='col-md-5'><%= f.input_field :value, class: 'form-control' %></div>
  <div class='col-md-2'><%= link_to_remove_association "remove option", f %></div>
</div>